<div class="home">
    <header class="home__header">
      <a (click)="navigateToCadastro()">
        <img src="../assets/logo-home.png" alt="TaskZen Logo" class="home__logo">
      </a>
    </header>
    <section class="home_intro">
      <div class="home__content">
        <img src="../assets/to-do-list-bro.png" alt="To-do-list" class="home__illustration">
        <div class="home__text">
          <h1>TaskZen</h1>
          <p>Organize suas tarefas e projetos de maneira fácil.</p>
          <button (click)="navigateToCadastro()" class="home__start-button">Começar</button>
        </div>
        <img src="../assets/checklist-bro.png" alt="Checklist" class="home__illustration">
      </div>
    </section>
    <section class="home__features">
      <div class="home__feature">
        <div class="home__feature-text">
          <h2>Projetos organizados, mente tranquila.</h2>
          <p>A vida pode ser complexa, mas suas ferramentas de organização não precisam ser. Nossa plataforma é projetada para ser simples e eficaz, ajudando você a gerenciar suas tarefas e projetos com facilidade.</p>
        </div>
        <img src="../assets/amico.png" alt="Feature 1" class="home__feature-image">
      </div>
    </section>
    <section class="home__third-section">
      <div class="home__third-feature">
        <img src="../assets/rafiki.png" alt="Feature 2" class="home__third-image">
        <div class="home__third-text">
          <h2>Realize Mais com Menos Esforço.</h2>
          <p>Trabalhar de forma inteligente é mais importante do que trabalhar arduamente. Nossa plataforma de to-do list e organização de projetos é projetada para ajudá-lo a realizar mais com menos esforço.</p>
        </div>
      </div>
    </section>
    <section class="home__fourth-section">
      <h2>Descubra todas as nossas funcionalidades</h2>
      <div class="home__cards">
        <div class="home__card">
          <img src="../assets/card-dashboard.png" alt="Dashboard" class="home__card-image">
          <p>Dashboard</p>
        </div>
        <div class="home__card">
          <img src="../assets/card-calendario.png" alt="Calendário" class="home__card-image">
          <p>Calendário</p>
        </div>
        <div class="home__card">
          <img src="../assets/card-tarefas.png" alt="Tarefas" class="home__card-image">
          <p>Tarefas</p>
        </div>
        <div class="home__card">
          <img src="../assets/card-projetos.png" alt="Projetos" class="home__card-image">
          <p>Projetos</p>
        </div>
      </div>
    </section>
  
    <footer class="home__footer">
      <div class="footer__content">
        <p>&copy; 2024 TaskZen. Todos os direitos reservados.</p>
        <div class="footer__links">
          <a href="#">Política de Privacidade</a>
          <a href="#">Termos de Serviço</a>
          <a href="#">Contato</a>
        </div>
      </div>
    </footer>
  </div>
  