.title {
  -webkit-text-stroke: #000 1px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.body {
  background-color: rgba($color: #000, $alpha: 1.0);
}

.cadastrar-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 1rem;

  .header-modal {
    display: flex;
    justify-content: space-between;

    h1 {
      -webkit-text-stroke: 0.5px;
      color: var(--color-primary);
    }

    i {
      font-size: 22px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .input-calendar {
    display: flex;
    flex-direction: column;
    margin: 6px;
  }

  label {
    -webkit-text-stroke: 0.2px;
  }
}

.btn {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  align-content: flex-end;

  button {
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 4px;
    margin-left: 8px;
  }

  .close {
    background-color: #9d0000;
    color: var(--bg-color);

    &:hover {
      background-color: #750000;
    }
  }

  .add {
    background-color: var(--color-primary);
    color: var(--bg-color);

    &:hover {
      background-color: #0a4751;
    }
  }
}