<div class="container">
    <div class="title">
        <h3>Calendário</h3>
    </div>

    <!-- calendário   -->
    <div class='demo-app'>
        <div class='demo-app-main'>
            <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
                <ng-template #eventContent let-arg>
                    <b>{{ arg.timeText }}</b>
                    <i>{{ arg.event.title }}</i>
                </ng-template>
            </full-calendar>
        </div>
    </div>

    <!--Modal-->
    <div class="modalAddEvent" style="display: none;">
        <div class="cadastrar-content">
            <h3>Adicionar evento</h3>

            <div class="input-calendar">
                <label for="nameEvent">Nome do evento:</label>
                <input type="text" id="nameEvent" name="nameEvent">
            </div>

            <div class="input-calendar">
                <label for="startDate">Data de início:</label>
                <input type="date" name="startDate" id="startDate">
            </div>

            <div class="input-calendar">
                <label for="endDate">Data de fim:</label>
                <input type="date" name="data" id="endDate">
            </div>

            <div class="input-calendar">
                <label for="startHour">Horário de início:</label>
                <input type="time" name="startHour" id="startHour">
            </div>

            <div class="input-calendar">
                <label for="endHour">Horário de fim:</label>
                <input type="time" name="endHour" id="endHour">
            </div>

            <div class="btn mt-2">
                <button (click)="closeModal()">Fechar</button>
                <button type="submit">Adicionar</button>
            </div>
        </div>
    </div>

</div>