<div class="container">
    <div class="title">
        <h3>Calendário</h3>
    </div>

    <!-- <button (click)="testeAddEvent()">addEvent</button> -->
    <!-- <button (click)="adicionarUsuario()">adicionarEvento</button> -->
    

    <!-- calendário   -->
    <div class='demo-app'>
        <div class='demo-app-main'>
            <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
                <ng-template #eventContent let-arg>
                    <b>{{ arg.timeText }}</b>
                    <i>{{ arg.event.title }}</i>
                </ng-template>
            </full-calendar>
        </div>
    </div>


    <!--Modal de adicionar evento -->
    <div class="modalAddEvent" style="display: none;">
        <div class="cadastrar-content">
            <h3>Adicionar evento</h3>

            <div class="input-calendar">
                <label for="nameEvent">Nome do evento:</label>
                <input type="text" id="nameEvent" name="nameEvent">
            </div>

            <div class="input-calendar">
                <label for="startDate">Data de início:</label>
                <input type="date" name="startDate" id="startDate">
            </div>

            <div class="input-calendar">
                <label for="endDate">Data de fim:</label>
                <input type="date" name="data" id="endDate">
            </div>

            <div class="input-calendar">
                <label for="startHour">Horário de início:</label>
                <input type="time" name="startHour" id="startHour">
            </div>

            <div class="input-calendar">
                <label for="endHour">Horário de fim:</label>
                <input type="time" name="endHour" id="endHour">
            </div>

            <div class="btn mt-2">
                <button (click)="closeModal()">Fechar</button>
                <button type="submit">Adicionar</button>
            </div>
        </div>
    </div>


    <!--Modal de editar evento -->
    <div class="modalEditEvent" style="display: none;">
        <div class="cadastrar-content">
            <h3>Editar evento</h3>

            <div class="input-calendar">
                <label for="editNameEvent">Nome do evento:</label>
                <input type="text" id="editNameEvent" name="editNameEvent">
            </div>

            <div class="input-calendar">
                <label for="editStartDate">Data de início:</label>
                <input type="date" name="editStartDate" id="editStartDate">
            </div>

            <div class="input-calendar">
                <label for="editEndDate">Data de fim:</label>
                <input type="date" name="editEndDate" id="editEndDate">
            </div>

            <div class="input-calendar">
                <label for="editStartHour">Horário de início:</label>
                <input type="time" name="editStartHour" id="editStartHour">
            </div>

            <div class="input-calendar">
                <label for="editEndHour">Horário de fim:</label>
                <input type="time" name="editEndHour" id="editEndHour">
            </div>

            <div class="btn mt-2">
                <button (click)="closeModalEdit()">Fechar</button>
                <button type="submit">Salvar Alterações</button>
            </div>
        </div>
    </div>


</div>