<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <h2>Editar</h2>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Nome de Usuário</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="activity" class="form-label">Atividade Favorita</label>
            <input type="text" class="form-control" id="activity">
          </div>
          <button type="submit" class="btn btn-primary w-100">Salvar</button>
        </form>

        <hr>

        <p><a href="" class="text-danger" (click)="confirmarExclusaoConta()">Excluir conta</a>
            <i
            id="deleteIcon"
            class="fas fa-trash-alt text-danger"
            style="margin-left: 2%; cursor: pointer"
          ></i>
        </p>
      </div>
    </div>
  </div>