<div class="notes-container">
  <h1>Anotações e Diário</h1>

  <div class="new-note">
    <input type="text" [(ngModel)]="newNote.title" placeholder="Título da nota" />
    <textarea [(ngModel)]="newNote.content" placeholder="Digite sua nota aqui..."></textarea>
    <button (click)="addNote()">Adicionar Nota</button>
  </div>

  <ul class="notes-list">
    <li *ngFor="let note of notes">
      <div *ngIf="editingNote?.uuid !== note.uuid; else editNoteForm">
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <div class="actions">
          <button class="edit-btn" (click)="startEditing(note)"> <i class="fa fa-pencil"></i>Editar</button>
          <button class="delete-btn" (click)="deleteNote(note)"> <i class="fa fa-trash"></i>Excluir</button>
        </div>
      </div>
      <ng-template #editNoteForm>
        <div class="content-edit">
          <input type="text" [(ngModel)]="editingNote!.title"/>
          <textarea [(ngModel)]="editingNote!.content"></textarea>
        </div>
        <div class="actions">
          <button class="save-btn" (click)="saveEdit()">Salvar</button>
          <button class="cancel-btn" (click)="cancelEdit()">Cancelar</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>