.notes-container {
  width: 600px;
  margin: 20px auto;
  font-family: sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .new-note {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    input[type='text'],
    textarea {
      width: calc(100% - 20px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: var(--color-primary);
        outline: none;
      }
    }

    textarea {
      height: 100px;
      resize: vertical;
    }

    button {
      background-color: var(--color-primary);
      color: #fff;
      border: none;
      margin: 10px;
      padding: 0.7rem 1.2rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #094f5b;
      }
    }
  }

  .notes-list {
    list-style-type: none;
    padding: 0;

    li {
      background-color: #fff;
      padding: 15px;
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      position: relative;

      h2 {
        margin-top: 0;
      }

      p {
        word-break: break-word;
      }

      .actions {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      button {
        background-color: transparent;
        border: none;
        padding: 5px 10px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &.edit-btn {
          color: #ffc107;

          &:hover {
            background-color: rgba(255, 193, 7, 0.1);
          }
        }

        &.delete-btn {
          color: #e74c3c;

          &:hover {
            background-color: rgba(231, 76, 60, 0.1);
          }
        }

        &.save-btn {
          color: #28a745;

          &:hover {
            background-color: rgba(40, 167, 69, 0.1);
          }
        }

        &.cancel-btn {
          color: #6c757d;

          &:hover {
            background-color: rgba(108, 117, 125, 0.1);
          }
        }
      }
    }
  }
}
