<div class="projetos-page">
    <div class="cabecalho">
        <h1>Projetos</h1>
    </div>
    <p-toast />

    <div class="projeto-component">
        <section class="projeto-nav">
            <button (click)="openNewProjectModal()">+ Adicionar projeto</button>
        </section>

        <section class="bloco-tarefas-container">

            <div *ngFor="let column of columns" class="bloco-tarefas">

                <h1 class="titulo-bloco"><b>{{ column.name }}</b></h1>

                <div class="content-task">
                    <div *ngFor="let task of column.tasks" class="tarefa">
                        <p> <b>Título:</b> {{ task.task_name}}</p>
                        <p> <b>Descrição:</b> {{ task.description }}
                        <p> <b>Inicio:</b> {{ task.startDate | date:'dd/MM/yyyy' }}
                        <p> <b>Fim:</b> {{ task.endDate | date:'dd/MM/yyyy' }}</p>
                        <div class="footer-tasks">
                            <button class="edit" (click)="editTask(column, task)"><i
                                    class='bx bx-edit-alt'></i></button>
                            <button class="delete" (click)="excludeTask(column, task)"><i
                                    class='bx bx-trash'></i></button>
                        </div>
                    </div>
                    <div class="new-task">
                        <button (click)="addTask(column)">+ Adicionar tarefa</button>
                    </div>
                </div>

                <div class="footer-tasks">
                    <button class="edit" (click)="openEditProjectModal(column)"><i class='bx bx-edit-alt'></i></button>
                    <button class="delete" (click)="excludeProject(column)"><i class='bx bx-trash'></i></button>
                </div>
            </div>
        </section>
    </div>


    <!-- Modal de Novo Projeto -->
    <div class="modalNewProject" *ngIf="isNewProjectModalOpen">
        <div class="modal-content">
            <div class="header-modal">
                <h1>Novo Projeto</h1>
                <i class="fa fa-times" (click)="closeNewProjectModal()"></i>
            </div>
            <form (ngSubmit)="addProject()">

                <div class="input-project">
                    <label for="projectName">Nome do Projeto:</label>
                    <input id="projectName" [(ngModel)]="newProjectName" name="projectName">
                </div>

                <div class="btn">
                    <button type="button" class="close" (click)="closeNewProjectModal()">Fechar</button>
                    <button type="submit" class="add">Adicionar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de editar projeto -->
    <div class="modalEditProject" *ngIf="isEditProjectModalOpen">
        <div class="modal-content">
            <div class="header-modal">
                <h1>Editar Projeto</h1>
                <i class="fa fa-times" (click)="closeEditProjectModal()"></i>
            </div>
            <form (ngSubmit)="editProject()">

                <div class="input-project">
                    <label for="editProjectName">Nome do Projeto:</label>
                    <input id="editProjectName" [(ngModel)]="editProjectName" name="editProjectName">
                </div>

                <div class="btn">
                    <button type="button" class="close" (click)="closeEditProjectModal()">Fechar</button>
                    <button type="submit" class="add">Salvar</button>
                </div>
            </form>
        </div>
    </div>


    <!--Modal de adicionar tarefas ao projeto -->
    <div class="modalAddEvent" style="display: none;">
        <div class="cadastrar-content">
            <div class="header-modal">
                <h1>Adicionar tarefa</h1>
                <i class='bx bx-x' (click)="closeModal()"></i>
            </div>
            <div class="input-calendar">
                <label for="nameEvent">Nome da tarefa:</label>
                <input type="text" id="nameEvent" name="nameEvent">
            </div>

            <div class="input-calendar">
                <label for="descriptionEvent">Descrição da tarefa:</label>
                <textarea type="text" id="descriptionEvent" name="descriptionEvent"></textarea>
            </div>

            <div class="input-calendar">
                <label for="startDate">Data de início:</label>
                <input type="date" name="startDate" id="startDate">
            </div>

            <div class="input-calendar">
                <label for="endDate">Data de fim:</label>
                <input type="date" name="data" id="endDate">
            </div>

            <div class="input-calendar">
                <label for="startHour">Horário de início:</label>
                <input type="time" name="startHour" id="startHour">
            </div>

            <div class="input-calendar">
                <label for="endHour">Horário de fim:</label>
                <input type="time" name="endHour" id="endHour">
            </div>

            <div class="btn mt-2">
                <button (click)="closeModal()" class="close">Fechar</button>
                <button type="submit" class="add">Adicionar</button>
            </div>
        </div>
    </div>


    <!--Modal de editar tarefas do projeto -->
    <div class="modalEditEvent" style="display: none;">
        <div class="cadastrar-content">
            <div class="header-modal">
                <h1>Editar Tarefa</h1>
                <i class='bx bx-x' (click)="closeModalEdit()"></i>
            </div>
            <div class="input-calendar">
                <label for="editNameEvent">Nome do evento:</label>
                <input type="text" id="editNameEvent" name="editNameEvent">
            </div>

            <div class="input-calendar">
                <label for="editDescriptionEvent">Descrição do evento:</label>
                <textarea type="text" id="editDescriptionEvent" name="editDescriptionEvent"></textarea>
            </div>

            <div class="input-calendar">
                <label for="editStartDate">Data de início:</label>
                <input type="date" name="editStartDate" id="editStartDate">
            </div>

            <div class="input-calendar">
                <label for="editEndDate">Data de fim:</label>
                <input type="date" name="editEndDate" id="editEndDate">
            </div>

            <div class="input-calendar">
                <label for="editStartHour">Horário de início:</label>
                <input type="time" name="editStartHour" id="editStartHour">
            </div>

            <div class="input-calendar">
                <label for="editEndHour">Horário de fim:</label>
                <input type="time" name="editEndHour" id="editEndHour">
            </div>

            <div class="btn mt-2">
                <button class="close" (click)="closeModalEdit()">Fechar</button>
                <button type="submit" class="add">Salvar Alterações</button>
            </div>
        </div>
    </div>