<div class="projetos-page">
    <div class="cabecalho">
        <h1>Projetos</h1>
    </div>

    <div class="projeto-component">
        <section class="projeto-nav">
            <div class="esquerda">
                <h1>Gestão de Projetos</h1>
            </div>
            <button (click)="openNewProjectModal()">Novo Projeto +</button>
        </section>

        <section class="bloco-tarefas-container">

            <div *ngFor="let column of columns" class="bloco-tarefas">

                <h1 class="titulo-bloco"><b>{{ column.name }}</b></h1>

                <div class="content-task">
                    <div *ngFor="let task of column.tasks" class="tarefa">
                        <p> <b>Título:</b> {{ task.task_name}}</p>
                        <p> <b>Descrição:</b> {{ task.description }}

                        <div class="footer-tasks">
                            <button class="edit" (click)="editTask(task)"><i class='bx bx-edit-alt'></i></button>
                            <button class="delete" (click)="excludeTask(column, task)"><i class='bx bx-trash'></i></button>
                        </div>

                    </div>
                    <div class="new-task">
                        <button (click)="addTask(column)">Nova Tarefa +</button>
                    </div>
                </div>

                <div class="footer-tasks">
                    <button class="edit"><i class='bx bx-edit-alt'></i></button>
                    <button class="delete" (click)="excludeProject(column)"><i class='bx bx-trash'></i></button>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal de Novo Projeto -->
    <div class="modalNovoProjeto" *ngIf="isNewProjectModalOpen">
        <div class="modal-content">
            <h2>Novo Projeto</h2>
            <form (ngSubmit)="addProject()">
                <label for="projectName">Nome do Projeto:</label>
                <input id="projectName" [(ngModel)]="newProjectName" name="projectName">
                <button type="submit">Adicionar</button>
            </form>
            <button (click)="closeNewProjectModal()">Fechar</button>
        </div>
    </div>

    <!-- Modal de Editar Tarefa -->
    <div class="modalEditTask" *ngIf="selectedTask">
        <div class="modal-content">
            <h2>Editar Tarefa</h2>
            <form (ngSubmit)="updateTask()">
                <label for="taskDescription">Descrição:</label>
                <input id="taskDescription" [(ngModel)]="selectedTask.description" name="taskDescription">
                <label for="taskStartDate">Data de Início:</label>
                <input type="date" id="taskStartDate" [(ngModel)]="selectedTask.startDate" name="taskStartDate">
                <label for="taskEndDate">Data de Fim:</label>
                <input type="date" id="taskEndDate" [(ngModel)]="selectedTask.endDate" name="taskEndDate">
                <button type="submit">Atualizar</button>
            </form>
            <button (click)="selectedTask = null">Fechar</button>
        </div>
    </div>
</div>