<div class="projetos-page">

    <div class="cabecalho"> 
        <h1>Projetos</h1>
        <span class="notification-user-info">
            <input type="search" placeholder="Pesquise...">
            <span class="notificacao"><img src="/assets/icone-notificacao.svg" alt="ícone de notificação"></span>
            <span class="btn-info-usuario"><img src="/assets/foto-usuario.svg" alt="foto do usuário">Fulano <img src="/assets/expandir-para-baixo.svg" alt="expandir para baixo"></span>
        </span>
    </div>

    <div class="projeto-component">

        <section class="projeto-nav">
            <div class="esquerda">
                <h1>Gestão de projetos</h1>
                <p>Quadro <img src="/assets/expandir-para-baixo.svg" alt="expandir para baixo"></p>
                <p>Filtro <img src="/assets/Filter-icon.svg" alt="icone de filtro"></p>
            </div>
            <button>Novo projeto +</button>
        </section>

        <section class="bloco-tarefas-container">
                <div class="bloco-tarefas">
                    <h1 class="titulo-bloco">Backlog</h1>
                    <div class="tarefa"><p>Nullam id nibh id orci consequat posuere eget sed neque. Ler mais</p></div>
                </div>
                <div class="bloco-tarefas">
                    <h1 class="titulo-bloco">Design</h1>
                    <div class="tarefa">
                        <p>Nullam id nibh id orci consequat posuere eget sed neque. Ler mais</p>
                    </div>
                    <div class="tarefa">
                        <p>Nullam id nibh id orci consequat posuere eget sed neque. Ler mais</p>
                    </div>
                    <div class="tarefa">
                        <p>Nullam id nibh id orci consequat posuere eget sed neque. Ler mais</p>
                    </div>
                </div>
                <div class="bloco-tarefas">
                    <h1 class="titulo-bloco">A fazer</h1>
                    <div class="tarefa"><p>Nullam id nibh id orci consequat posuere eget sed neque. Ler mais</p></div>
                </div>
        </section>
    </div>
</div>