@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --color-primary: #0C5663;
    --bg-color: #EBF0F3;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100%;
    height: 100vh;
    overflow: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
